<div class="copyright">
    &copy; <%- config.startYear%> - 
  <% if (config.author){ %>
  <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.author %></a>
  <% } else { %>
  <%= new Date().getFullYear() %> <a href="<%- config.root %>"><%= config.title %></a>
  <% } %>
</div>
<div class="theme-copyright">
  Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>
   | 
  Power by <a href="http://hexo.io/" target="_blank">Hexo</a>
</div>
<div class="clearfix"></div>